@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Cause:wght@100..900&family=Chokokutai&family=Gloria+Hallelujah&family=Kaushan+Script&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.default-currency {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.default-currency h4 {
  color: #999ba0;
  width: 17rem;
}
.default-currency .select {
  background-color: #fff;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  border: #e5e7eb solid 1px;
  border-radius: 5px;
}

hr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  color: #e5e7eb;
}

@media (max-width: 700px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
